.content {
  margin: auto;
  width: 70%;
  padding: 2em;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 4ch;
  text-align: center;
  margin-bottom: 1em;
}

.pink h1,
.pink strong {
  color: #c9086d;
}

.blue h1,
.blue strong {
  color: #7109b6;
}

.content > p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  width: 100%;
}

.background {
  border-style: solid;
  border-radius: 50px;
  margin-bottom: 5vh;
  padding: 2em;
}

.grey {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.white {
  background-color: white;
  border-color: white;
}
